<!--паршал для відображення 1 комента-->
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<!--ссилка для видалення комента-->
<p>
  <%= link_to "Destroy Comment", [comment.post, comment],
              data: {method: :delete, confirm: 'Are you sure?'} %>
</p>
