<!-- form_with - хелпер, який генерує HTML-код форми вводу даних, звідки параметри (commenter, body) потрапляють в CommentsController в comment_params -->
<!---form_with використовує масив, який побудує вкладений маршрут (/posts/1/comments) -->

<%= form_with model: [ @post, @post.comments.build ] do |form| %>

  <div class="mb-5">
    <div class="col-sm-10, mb-3">
      <%= form.text_area :body, required: true, minlength: 2, class: 'form-control' %>
    </div>
    <p>
      <%= form.submit  "Submit!", class: 'btn btn-primary'%>
    </p>
  </div>
<% end %>
