<body>
<section class="header">
  <div class="container">
    <img src="pages/logo.png" alt="Golden-logo.png" class="logo">

  </div>
</section>

<section>
  <div class="container">

  </div>
</section>
<section>
  <div class="container">

  </div>
</section>
<footer>
  <div class="container">

  </div>
</footer>

</body>
