<body>
<section class="header">
  <div class="container">
    <img src="pages/logo.png" alt="Golden-logo.png" class="logo">

    <nav>
      <ul class="menu">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Portfolio</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<section>
  <div class="container">

  </div>
</section>
<section>
  <div class="container">

  </div>
</section>
<footer>
  <div class="container">

  </div>
</footer>

</body>
