@import "bootstrap";

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #222222;
}

.clearfix:after {
  content:'';
  display: table;
  width: 100%;
  clear: both;
}
div {
  box-sizing: border-box;
}
header {
  background-image: url('../images/pages/first-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 160px;
}

.container {
  width: 930px;
  margin: 0 auto;
}

.logo {
  margin-top: 41px;
  float: left;
}
nav {
  float: right;
  margin-top: 45px;
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 41px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.titles_first {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 180px;
}

h1 {
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
}

.button {
  background: #fed136;
  color: #484543;
  border-radius: 3px;
  display: block;
  width: 240px;
  padding: 20px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}

.title {
  padding-top: 115px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.title p {
  color: #777777;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

.services {
  margin-top: 80px;
}

.services_item {
  width: 270px;
  float: left;
  text-align: center;
}

.services_item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.services_item p {
  color: #777777;
  font-size: 17px;
  line-height: 1,55em;
}

.services_item:last-child {
  float: right;
}

.services_item:nth-child(2) {
  float: right;
  margin-left: 60px;
}
#services {
  padding-bottom: 120px;
}

#portfolio {
  background: #f7f7f7;
  padding-bottom: 120px;
}

.works {
  margin-top: 70px;
}
.works img {
  float: left;
}

.works img:nth-child(2) {
  margin-left: 29px;
}

.works img:last-child {
  float: right;
}

.events {
  margin-top: 70px;
}

.events_item {
  display: flex;
  margin-bottom: 90px;
  width: 930px;
  flex-direction: row;
  align-items: center;
}

.image {
  width: 200px;
  margin: 0 35px;
}

.empty_container {
  width: 330px;
}
.events_text_1, .events_text_3 {
  text-align: right;
  width: 280px;
  order: -1;
  margin-left: 50px;
}

.events_text_2, .events_text_4{
  text-align: left;
  width: 280px;
  order: 1;
}

.events_item h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 0;
  margin: 0;
}

.events_item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.events_item p {
  color: #777777;
  font-size: 17px;
  line-height: 1,55em;
}

footer p {
  color: #777777;
  font-size: 17px;
  line-height: 1,55em;
  text-align: center;
  margin-bottom: 120px;
}