<h2>Posts</h2>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>

  <time datetime="<%= post.formatted_created_at %>">
    <%= post.formatted_created_at %>
  </time>

  <p>
    <%= post.body %>
  </p>
<% end %>
